// VG brand color overrides.
// Update values here to keep custom colors modular and easy to rebase.

// Core accents (HSL colors)
$color-accent-primary: hsl(260 95.07% 39.80%); // #4805c6
$color-accent-secondary: hsla(260, 83%, 75%, 0.811); // #8d0050
$color-page-background: hsl(0 0% 96.86%); // #f7f7f7
